body {
    display: block;
    background-color: #cfdffc;
}

.dice {
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 10%;
    font-weight: bold;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 8%;
    border-radius: 50%;
    background-color: #fff;
    align-content: center;
}

.first-face {
    background-color: #ee6868;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-face {
    background-color: #ee6868;
    display: flex;
    justify-content: space-between;
}

.second-face .dot:nth-of-type(2){
    align-self: flex-end;
    
}

.third-face {
    background-color: #ee6868;
    display: flex;
    justify-content: space-between;
}


.third-face .dot:nth-of-type(3){
    align-self: flex-end;
}

.third-face .dot:nth-of-type(1){
    align-self: flex-start;
}

.third-face .dot:nth-of-type(2){
    align-self: center;
}

.fourth-face {
    background-color: #ee6868;
    display: flex;
    justify-content: space-between;
}

.fourth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10%;
}

.fifth-face {
    background-color: #ee6868;
    display: flex;
    justify-content: space-between;
    
}

.fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 6%;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

.sixth-face {
    background-color: #ee6868;
    display: flex;
    justify-content: space-between;
}

.sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10%;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 10px;
}

.big-container {
    display: flex;
}

.big-container .score:nth-of-type(2){
    margin: 70px;
}





  